# Relay settings
LAN_IF=eth0
LAN_NET=192.168.1.0/24
DOCKER_SUBNET=172.20.0.0/16
HA_IP=172.20.0.10
HA_PORT=8123
RELAY_DEBUG=false

# Preflight settings
DOCKER_CONTEXT=default
HA_CONTAINER=homeassistant
DOCKER_NETWORK=homeassistant
